body{
	background-image: url(background.png);
	font-family: arial;
}

ul {
	color: black;
}

a {
	color: purple;
}

b{
	font-family: comic sans ms;
	background: #666;
	padding: 10px;

}

nav ul li {
	display: inline-block;
	list-style-type: none;
	background: #A358E8;
	padding: 5px;
}